body {
  background: rgb(56, 54, 56);
  font-family: "Crimson Text", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
      rgba(32, 18, 51, 0.795),
      rgba(0, 0, 0, 0.795)
    ),
    url("../images/greenheartagram.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(241, 62, 212);
  text-align: center;
  padding: 110px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 25px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 30px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 8px;
  margin: 0 auto;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f7f7f8;
}
footer {
  color: #54f0aa;
  background-image: linear-gradient(
      rgba(19, 14, 29, 0.938),
      rgba(0, 0, 0, 0.932)
    ),
    url("../images/1vv-koeln.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;

  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
